{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block head
%}
{{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %} {% block content %}
<h1>Hello</h1>
<p class="important">
  Welcome on my awesome homepage.
</p>

<h1>
  Make a new post
</h1>

<form>
  <p>Entry title<input type="text" name="title" /></p>
  <p>Detail<input type="text" name="content" /></p>
  <p>Written by<input type="text" name="author" /></p>
  <button type="submit" value="submit">Create</button>
</form>

{% endblock %}
